footer{
    width: 100vw;
    height: auto;
    padding: 13px;
    border: 2px solid #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 71px; */
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 4;
    transition: all 0.4s ease-in-out;
    gap: 13px;
} 

footer:hover{
    background: rgba(17, 17, 17, 0.75);
}

.footerTop h2{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.62), rgba(128, 128, 128, 0.62), rgba(165, 42, 42, 0.62));
}

.footerTop h2,.footerTop p,.footerBottom{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(128, 128, 128, 0.5), rgba(165, 42, 42, 0.5));
}

.footerTop h2, .footerTop p, .footerBottom{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    color: rgba(128, 128, 128, 0.5);
    text-align: center;
}

.footerLinks h4{
    color: rgba(128, 128, 128, 0.75);
}

.footerColumn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.linkSpan{
    display: flex;
    flex-direction: column;
    
}

@media only screen and (min-width: 375px){
    .footerTop p{
        font-size: large;
    }
}

@media only screen and (min-width: 425px){
    .footerLinks{
        justify-content: space-evenly;
    }
    .footerColumn{
        text-align: left;
    }
}

@media only screen and (min-width: 768px){
    footer{
        padding: 25px 50px 25px 50px;
        align-items: center;
    }
    footer section{
        width: 80%;
    }
    .footerTop{
        display: flex;
        justify-content: space-between;
    }
    .footerTop p{
        place-content: center;
    }
    .footerLinks{
        justify-content: space-between;
    }
    .footerLinks h4{
        font-size: large;
    }
}

@media only screen and (min-width: 1024px){
    footer{
        gap: 25px;
    }
    .footerTop h2{
        font-size: xx-large;
    }
    .footerLinks h4{
        font-size: larger;
    }
}