/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*{
    padding: 0;
    margin: 0;
}

/* Suitable for first feature branch */
/* body{
    background: linear-gradient(135deg, #1E293B, #334155, #312E81);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    border: 2px solid green;
    overflow-x: hidden;
} */

body{
    /* border: 2px solid green; */
    display: flex;
    place-content: center;
    /* background-color: #000000; */
    background: url(../assets/bgb.png) center no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.25);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    place-items: center;
    /* border: 2px solid lightsalmon; */
    overflow-x: hidden;
}