.admin-sidebar{
    width: 90vw;
    padding: 13px;
    box-sizing: border-box;
    /* border: 2px solid #4C5FD5; */
    border: 2px solid #444444;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vw 8px;
    justify-content: space-evenly;
    margin-top: 13px;
    color: rgba(255, 255, 255, 0.75);
    /* background: rgba(76, 95, 213, 0.15); */
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px) saturate(140%);
    -webkit-backdrop-filter: blur(12px) saturate(140%);
    box-shadow: 0 8px 24px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.05);
}

.admin-sidebar:hover{
    background: rgba(17, 17, 17, 0.15);
}

.admin-sidebar button{
    /* border: 2px solid rgba(135, 206, 235, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
    border-radius: 1rem;
    width: 125px;
    height: 76px;
    display: flex;
    place-content: center;
    align-items: center;
    text-align: center;
}

.admin-sidebar button:hover{
    /* border: 2px solid rgba(135, 206, 235, 1); */
    border: 2px solid rgba(102, 102, 102, 1);
    background: rgba(102, 102, 102, 0.26);
    color: white;
}

.admin-sidebar button span{
    width: 100%;
    height: 100%;
    padding: 8px;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.admin-sidebar button span:hover{
    background: linear-gradient(to right, skyblue, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 375px){
    .admin-sidebar{
        padding: 26px;
    }
}

@media only screen and (min-width: 768px){
    .admin-sidebar{
        margin-top: 26px;
    }
}

@media only screen and (min-width: 1024px){
    .admin-sidebar{
        width: 310px;
        height: 80vh;
        margin: 0;
        padding: 0px 25px 0px 25px;
        gap: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .admin-sidebar button{
        width: 22ch;
    }
}